* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

body {
  background: #1E1E1E url(/img/image.png)no-repeat fixed center/cover;
  text-align: center;
}

div {
  margin-top: 16rem;
  width: 71.4rem;
  height: 33.1rem;
}

h1,
span {
  color: #FFFFFF;
  font-size: 1.6rem;
}

.title {
  color: #FFC700;
}

h2 {
  margin: .4rem 0rem;
  font-family: 'Emilys Candy', cursive;
  color: #FFC700;
  font-size: 6.4rem;
  letter-spacing: .4rem;
}

p {
  font-weight: 400;
  font-size: 2.0rem;
  color: #FFFFFF;
  opacity: .7;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;

}

.btn ul li a {
  padding: 1.2rem 3.2rem;
  text-transform: uppercase;
  font-size: 2.0rem;
  font-weight: bold;
}

ul li {
  margin: 18.3rem .8rem 0rem .8rem;
}

a {
  text-transform: uppercase;
  font-size: 2.0rem;
  font-weight: bold;
}

.btn ul li #btn1 {
  color: #FFFFFF;
  opacity: .7;
}

.btn ul li #btn2 {
  background: #FFC700;
  color: #000000;
  text-decoration: none;
}

.btn ul li #btn1:hover {
  background: #FFFFFF;
  color: #000000;
  opacity: .3;
  transition: 800ms;
}

.btn ul li #btn2:hover {
  background: #FF990D;
  color: #FFFFFF;
  text-decoration: none;
  opacity: .7;
  transition: 800ms;
}